block vars
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://connect.humanapi.co/connect.js')
    title HumanAPI | #{title}
  body
    block body