<h2>Dashboard</h2>
<p>Welcome to your dashboard! You are now logged in.</p>

<h3>User Information</h3>
<p>First Name: {{user.firstName}}</p>
<p>Last Name: {{user.lastName}}</p>
<p>Email: {{user.email}}</p>
<p>Data: {{user.data}}</p>