<h2>Human</h2>
<p>Welcome to Human. Please <a href="/login">Login</a> or <a href="/register">Register</a> to continue</p>
<img src="https://connect.humanapi.co/assets/button/blue.png" alt="" id="connect-health-data-btn">